/* LaptopDisplay.css */

.laptop {
  position: relative;
  margin: auto;
  max-width: 80rem;
}

.laptop__screen {
  position: relative;
  z-index: 1;
  padding: 3%;
  border-radius: 2rem;
  background: #ecf1f7;
  background-image: linear-gradient(to bottom, #333, #111);
  box-shadow: 0 .1rem 0 #cfcfcf;
  border: 2px solid #ccc;
  /* Set a default aspect ratio for the display area */
  aspect-ratio: 16 / 10;
}

/* Updated styles for the display area to have a gradient similar to the Indian flag */
.laptop__display {
  width: 100%; /* full width */
  height: 100%; /* full height */
  background-image: linear-gradient(
    to bottom, 
    rgb(219, 205, 192), /* Lighter orange at the top */
    rgba(255, 255, 255, 1),  /* White in the middle */
    rgb(225, 243, 228)   /* Lighter green at the bottom */
  );
  position:relative
}

/* Pseudo-element for the bluish grid of dots */
.laptop__display::after {
  content: '';
  position: absolute;
  bottom: 10px; /* Position from the bottom */
  left: 10px; /* Position from the left */
  width: 100px; /* Width of the grid */
  height: 100px; /* Height of the grid */
  background-image: 
    radial-gradient(circle, #0077ff 10%, transparent 10.5%),
    radial-gradient(circle, transparent 10%, transparent);
  background-position: 0 0, 5px 5px;
  background-size: 10px 10px;
  opacity: 0.7; /* Adjust the opacity to make the grid less stark */
  pointer-events: none; /* Ignoring pointer events ensures clicks go through the grid */
}

.laptop__bottom {
  position: relative;
  z-index: 1;
  margin-right: -7%;
  margin-left: -7%;
  height: .7rem;
  background: #e9eff5;
  background-image: linear-gradient(to right, #d2dde9 0%, #f9fcff 15%, #e5ebf2 40%, #e5ebf2 60%, #f9fcff 85%, #d2dde9 100%);
}

.laptop__bottom::before {
  display: block;
  margin: 0 auto;
  width: 20%;
  height: .7rem;
  border-radius: 0 0 .2rem .2rem;
  background: #f6f9fc;
  background-image: linear-gradient(to right, #c3cfdb 0%, #f6f9fc 10%, #f6f9fc 90%, #c3cfdb 100%);
  content: "";
}

.laptop__under {
  position: absolute;
  top: 100%;
  left: 25%;
  width: 50%;
  height: 1.5rem;
  background: #e2e8f0;
  background-image: linear-gradient(to bottom, #e2e8f0, #bec7d1);
}

.laptop__under::after,
.laptop__under::before {
  position: absolute;
  top: 0%;
  display: block;
  width: 50%;
  border-bottom-left-radius: 100%;
  background: inherit;
  content: "";
}

.laptop__under::after {
  right: auto;
  left: 100%;
  border-bottom-right-radius: 100%;
  border-bottom-left-radius: 0;
}

.laptop__shadow {
  position: absolute;
  right: -10%;
  bottom: -2.5rem;
  left: -10%;
  z-index: 0;
  height: 2rem;
  background: radial-gradient(ellipse closest-side, #000, transparent);
  opacity: 0.5;
}