.container {
  width: 90%;
  /* Increase container width */
  max-width: 800px;
  /* Adjust the max-width appropriately */
  margin: auto;
  /* This keeps .container centered in the flex parent */
  position: relative;
  aspect-ratio: 16 / 9;
  /* Maintains the blue rectangle's aspect ratio */
}

.big-rectangle {
  width: 100%;
  /* Takes up 100% of .container's width */
  aspect-ratio: 16 / 9;
  /* Ensures that big rectangle maintains its aspect ratio */
  background-color: #1233d6;
}

.overlaping-rectangle {
  width: 40%;
  /* Adjust to the desired size, ensuring it’s proportionate to the .container size */
  aspect-ratio: 1;
  /* Maintains the red rectangle's aspect ratio */
  position: absolute;
  right: -10%;
  /* Adjust so it doesn't go outside */
  bottom: -10%;
  /* Adjust so it doesn't go outside */
  background-color: #d93535;
}