/* SmallLaptopDisplay.css */

.small-laptop {
  position: relative;
  width: 24rem; /* Adjust based on your size preference */
  aspect-ratio: 16 / 9; /* Maintain screen aspect ratio */
}

.small-laptop__screen,
.small-laptop__screen iframe {
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  overflow: hidden; /* Prevents iframe content from spilling out */
}

.small-laptop__bottom {
  height: .8rem;
  background: #e9eff5;
  background-image: linear-gradient(to right, #d2dde9 0%, #f9fcff 15%, #e5ebf2 40%, #e5ebf2 60%, #f9fcff 85%, #d2dde9 100%);
  z-index: 1;
}

.small-laptop__under {
  position: absolute;
  top: 100%;
  left: 35%;
  width: 30%;
  height: .7rem;
  background: #e2e8f0;
  background-image: linear-gradient(to bottom, #e2e8f0, #bec7d1);
}

/* Responsive design adjustments */
@media (max-width: 768px) {
  .small-laptop {
    width: 100%; /* Full width on small screens */
    aspect-ratio: auto; /* Aspect ratio can be auto for responsiveness */
  }
  
  /* Removed padding-bottom as we're now using height: 100% */
}