.App {
  text-align: center;
}

tml, body {
  margin: 0;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

body > #root {
  flex-grow: 1; /* This will make your app content grow to fill the available space, pushing the footer down. */
}